<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.uii.a16523169students.kumis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/geasy"
        android:label="@string/app_name"
        android:logo="@drawable/geasy"
        android:roundIcon="@drawable/geasy"
        android:supportsRtl="true"
        android:theme="@style/GeasyStyle">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Input1Activity"
            android:label="Activity Input"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.MainActivity" />
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".KonsultasiActivity" />
        <activity android:name=".RegisterSSOActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile" />
        <activity android:name=".CekSehatActivity" />
        <activity android:name=".HomeDokterActivity" />
        <activity android:name=".BBTBActivity"
            android:label="Cek Gizi"
            android:theme="@style/GeasyStyleBar"
            android:parentActivityName=".AlergiActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.AlergiActivity"/>
        </activity>
        <activity android:name=".KeluhanActivity"
            android:label="Cek Gizi"
            android:theme="@style/GeasyStyleBar"
            android:parentActivityName=".FormGejalaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.FormGejalaActivity"/>
        </activity>
        <activity android:name=".RiwayatPenyakitActivity" />
        <activity android:name=".AlergiActivity"
            android:label="Cek Gizi"
            android:theme="@style/GeasyStyleBar"
            android:parentActivityName=".KeluhanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.KeluhanActivity"/>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".FormGejalaActivity"
            android:label="Cek Gizi"
            android:theme="@style/GeasyStyleBar"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.HomeActivity"/>
        </activity>
        <activity android:name=".HasilActivity"
            android:label="Hasil Cek Gizi"
            android:theme="@style/GeasyStyleBar"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.HomeActivity" /></activity>
        <activity android:name=".HasilPakarActivity" />
        <activity android:name=".RevisiActivity" />
        <activity android:name=".ListCaseActivity" />
        <activity android:name=".DetailCaseActivity"
            android:label="Input Bobot"
            android:theme="@style/GeasyStyleBar"
            android:parentActivityName=".HomeDokterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.uii.a16523169students.kumis.HomeDokterActivity" /></activity>
    </application>

</manifest>